{% extends _layout %}

{%block title %}SPL Drafter{%endblock%}
{% block content %}
<div class='body-container'>
<h3>SPL Draft Lobbys</h3>
<div class='col-md-12'>
    
<a href="{{'drafts/create/'|site_url}}" rel="async" ajaxify="{{'drafts/drafts_ajax/ion_drafts_dialog/create/'|site_url}}" class='btn btn-success pull-right' id='notice_btn'>Create</a>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <ul id="cntLobby" class="list-group row">
        </ul>
    </div>
</div>
</div>
<script type="text/javascript">
$( document ).ready( function() {
        
    lobbyPoll();
 
});

function lobbyPoll()
{   
    $.getJSON( "{{'drafts/draft_api/getLobbys'|site_url}}", function( data ) {
        //clear all lobbies and rebuild them.
        $("#cntLobby").html("");
        $.each(data.lobbys, function( index, value ) {
            $("#cntLobby").append("<li class='list-group-item col-xs-4' style='border: 0px;' data-idx='"+
                    value.id+
              "'><a href='{{'drafts/lobby'|site_url}}/"+value.id+"' class='btn btn-primary form-control'>"
              +value.name+"</a></li>");
        });        
    });
    
    setTimeout('lobbyPoll();', 5000);
}
</script>
{% endblock %}