{% extends _layout %}

{% block content %}
    <p>A recent match time proposal went unanswered for over 24 hours by the opposing team. Because of this, the
    proposal has been marked as accepted, and the match time updated.</p>
        
    {% set l = 'standings/match/' ~ match.id %}                        
    <p>You should review the updated match via the following link: <a href="{{l|site_url}}">{{l|site_url}}</a></p>
{% endblock %}