{% extends _layout %}

{% block content %}
    <p>Another week of SPL has started. Please use the link below to find your scheduled matches.</p>
    <p>Now would be a great time to review match times, and start working with the other team on any schedule changes.</p>
        
    {% set l = 'team/portal/' ~ team.id %}                        
    <p>You should review the updated schdule via the following link: <a href="{{l|site_url}}">{{l|site_url}}</a></p>
{% endblock %}