{% extends _layout %}

{% block content %}

<div class="col-md-12">
<div class="col-md-8 col-md-offset-2">
    <h3>Beta Series 2 Tournament Prizes</h3>
    <table style="margin-top:-5px;" class="table table-condensed table-responsive table-hover">
        <thead>
            <tr>
                <td width="150px;">Position</td>
                <td width="500px;">Prize</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1st Place</td>
                <td>$150 USD + 400 gems (per player, 5 max)</td>
            </tr>
            <tr>
                <td>2nd Place</td>
                <td>$100 USD + 200 gems (per player, 5 max)</td>
            </tr>
            <tr>
                <td>3rd Place</td>
                <td>$50 USD + 100 gems (per player, 5 max)</td>
            </tr>
        </tbody>
    </table>
</div>    
</div>
{% endblock %}