{% extends _layout %}
{% block content %}
<div class='col-md-8 col-md-offset-2'>
    <h3>If you are a new team captain to SPL, please watch these short tutorial videos on how to use the system</h3>
    <br/>
    <ul>
        <li>1.) <a href="http://youtu.be/bKMOmjfZcnA" target="_blank">Scheduling</a><br/><br/></li>
        <li>2.) <a href="http://youtu.be/aMOhfdBZ7zA" target="_blank">Drafting</a><br/><br/></li>
        <li>3.) <a href="http://youtu.be/iQsCSLr-B_I" target="_blank">Replays</a><br/><br/></li>
        <li>4.) <a href="http://youtu.be/IJ4AO8SEwr8" target="_blank">Reporting</a><br/><br/></li>
    </ul>
</div>
{% endblock %}