.hero
{
    width:128px;
    height:128px;
}

.hero-small
{
    margin-left:-32px;
    margin-right: -32px;
    margin-top:-32px;
    margin-bottom: -32px;
    width:128px;
    height:128px;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -ms-transform: scale(0.5);
}

.hero-medium
{
   
    width:128px;
    height:128px;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    -ms-transform: scale(0.75);
    margin-top:2px;
    margin-bottom:-30   px;
}


.hero-padding
{
    margin:-15px;
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;     
        
}

.hero-hover:hover
{
    opacity: 0.7;
}

.hero-cont
{
    background-color: grey;
    width:  100px;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;     
}

.heroban-cont
{
    background: url(/assets/images/ban.png) no-repeat 0 0 ;
    background-position: 0px 0px;    
    background-size: 100% 100%;
    width:  100px;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    opacity: 0.9    ;
    
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;    
    position: relative;
}

.heroban2-cont
{
    background: url(/assets/images/ban.png) no-repeat 0 0 ;
    background-position: 0px 0px;      
    background-size: 100% 100%;
    width:  100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.9;
    
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;     
}

.heroImg-cont
{
    position: absolute;
    margin-left:-14px;
    margin-top:-14px;
    
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;        
}

.txt-extratime-danger{
    color: #DB0007;
}
.txt-extratime-warn{
    color: #FFA500;
}

.hero-overlay {
    position: relative;
}

.text-overlay {
position: absolute;
top: 77px;
left: 0px;
width: 100%;
height: 100%;
color: #fff;
font-family: Oswald, sans-serif; 
font-size:15px;
}

#chatbox {
    text-align:left;
    margin: 0               ;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:100%                          ;
    border:1px solid #ACD8F0;
    overflow:auto; 
}

.chatName {
    color: #781E1E;
}

.img-cross
{
background: url(/assets/images/cross.png) no-repeat 0 0 ;
background-position: 0px 0px;   
top: 0;
left: 0;
width: 100%;
height: 100%;
display: block;
z-index: 10000;
}

.hero-ace
{
background: 
url(/assets/images/heroes.png) no-repeat 0 0 ;
background-position: 0px 0px;
}

.hero-bastion
{
background:
url(/assets/images/heroes.png) ;
background-position: -128px 0px;
}

.hero-bo
{
background:
url(/assets/images/heroes.png) ;
background-position: -256px 0px;
}

.hero-caprice
{
background:
url(/assets/images/heroes.png) ;
background-position: -384px 0px;
}

.hero-carter
{
background:
url(/assets/images/heroes.png) ;
background-position: -512px 0px;
}

.hero-claudessa
{
background:
url(/assets/images/heroes.png) ;
background-position: 0px -128px;
}

.hero-fetter
{
background:
url(/assets/images/heroes.png) ;
background-position: -128px -128px;
}
.hero-fetterstone
{
background:
url(/assets/images/heroes.png) ;
background-position: -128px -128px;
}

.hero-hale
{
background:
url(/assets/images/heroes.png) ;
background-position: -256px -128px;
}

.hero-malady
{
background:
url(/assets/images/heroes.png) ;
background-position: -384px -128px;
}

.hero-minerva
{
background:
url(/assets/images/heroes.png) ;
background-position: -512px -128px;
}

.hero-moxie
{
background:
url(/assets/images/heroes.png) ;
background-position: 0px -256px;
}

.hero-ray
{
background:
url(/assets/images/heroes.png) ;
background-position: -128px -256px;
}

.hero-rook
{
background:
url(/assets/images/heroes.png) ;
background-position: -256px -256px;
}

.hero-shank
{
background:
url(/assets/images/heroes.png) ;
background-position: -384px -256px;
}

.hero-tinder
{
background:
url(/assets/images/heroes.png) ;
background-position: -512px -256px;
}
.hero-ladytinder
{
background:
url(/assets/images/heroes.png) ;
background-position: -512px -256px;
}

.hero-vermillion
{
background:
url(/assets/images/heroes.png) ;
background-position: 0px -384px;
}

.hero-vex
{
background:
url(/assets/images/heroes.png) ;
background-position: -128px -384px;
}

.hero-trixie
{
background:
url(/assets/images/heroes.png) ;
background-position: -256px -384px;
}

.hero-blazer
{
background:
url(/assets/images/heroes.png) ;
background-position: -384px -384px;
}

.hero-harrower
{
background:
url(/assets/images/heroes.png) ;
background-position: -512px -384px;
}

.hero-nikolai
{
background:
url(/assets/images/heroes.png) ;
background-position: -256px -512px;
}

.hero-jinshe
{
background:
url(/assets/images/heroes.png) ;
background-position: -128px -512px;
}

.hero-gokong
{
background:
url(/assets/images/heroes.png) ;
background-position: 0px -512px;
}