{% extends _layout %}

{% block content %}
    <p>Your time change requst for the below match has been rejected by the other team.</p>
        
    {% set l = 'standings/match/' ~ match.id %}                        
    <p>You should review the updated match via the following link: <a href="{{l|site_url}}">{{l|site_url}}</a></p>
{% endblock %}