{% extends _layout %}
{% block content %}
<div id="container">
	<div id="content" role="main">
		<h2>Polls</h2>
                <p>{{'poll'|anchor('Back to poll listing')}}</p>
                {{data.error_message}}
	</div>
</div>
{% endblock %}