{% extends _layout %}
{% block content %}
<div class='col-md-8 col-md-offset-2 body-container'>
<br/>
<br/>
<div class='row' style='margin-bottom: 25px;'>
    <strong><a href='{{'user/portal/1'|site_url}}'>Whilke</a> - Owner/Admin/Caster</strong>
    <p>
        The face of SPL, in all it's beanie glory. Owner, Admin, and Caster for this very fun competitive league.
    </p>
</div><div class='row' style='margin-bottom: 25px;'>
    <strong><a href='{{'user/portal/161'|site_url}}'>Prince Zexu</a> - Admin/Caster</strong>
    <p>
    Prince Zexu (pronounced Zeh-ex-ooo) is the self proclaimed, "Prince of Strife". With a long history of Heroes of Newerth and DotA 2,
    he is a strong veteran MOBA/ARTS player. Zexu has been playing since the Friends and Family Alpha and has been casting ever since 
    the game entered closed beta. 
    </p>
</div>
<div class='row' style='margin-bottom: 25px;'>
    <strong><a href='{{'user/portal/162'|site_url}}'>Tintenfisch Joe</a> - Admin/Caster</strong>
    <p>
    Born and raise on Long Island, Tintenfisch Joe comes from a background of League of legends and some Dota 2.  
    He found his home in Strife when closed beta first started.  Also Co-host of Stife Talk with Vexxie and an occasional caster 
    where needed, he is mostly known for his beard.    
    </p>
</div>
<div class='row' style='margin-bottom: 25px;'>
    <strong><a href='{{'user/portal/290'|site_url}}'>srsbsns</a> - Caster</strong>
    <p>
    Graphic design and art direction for STRIFE PRO LEAGUE.
    </p>
</div>
</div>
{% endblock %}