{% extends _layout %}

{% block content %}
    <div class="container">
        <div class="col-xs-12 col-xs-offset-2">
        <div style="margin-left: 50px">
            <div  style="display: inline-block; min-width: 130px;">
                <div class="row" style="margin-left:5px"><h3>Round 1</h3></div>
                <div class="row">
                    <div class="hero hero-vermillion image-responsive"> </div>
                    <div class="hero hero-malady image-responsive"> </div>
                    <div class="hero hero-shank image-responsive"> </div>
                </div>
            </div>
            <div style="display: inline-block; min-width: 130px;">
                <div class="row" style="margin-left:5px"><h3>Round 2</h3></div>
                <div class="row">
                    <div class="hero hero-tinder image-responsive"> </div>
                    <div class="hero hero-ray image-responsive"> </div>
                    <div class="hero hero-moxie image-responsive"> </div>
                </div>            
            </div>
            <div style="display: inline-block; min-width: 130px;">
                <div class="row" style="margin-left:5px"><h3>Round 3</h3></div>
                <div class="row">
                    <div class="hero hero-minerva image-responsive"> </div>
                    <div class="hero hero-fetter image-responsive"> </div>
                    <div class="hero hero-malady image-responsive"> </div>
                </div>            
            </div>
            <div style="display: inline-block; min-width: 130px;">
                <div class="row" style="margin-left:5px"><h3>Round 4</h3></div>
                <div class="row">
                    <div class="hero hero-bastion image-responsive"> </div>
                    <div class="hero hero-ace image-responsive"> </div>
                    <div class="hero hero-claudessa image-responsive"> </div>
                </div>            
            </div>
        </div>
        <div>
            <div style="display: inline-block; min-width: 220px;">
                <div class="row"><h3>Round 5 Game 1</h3></div>
                <div class="row" style="margin-left: 10px;">
                    <div class="hero hero-caprice image-responsive"> </div>
                    <div class="hero hero-hale image-responsive"> </div>
                    <div class="hero hero-tinder image-responsive"> </div>
                </div>            
            </div>
            <div style="display: inline-block; min-width: 220px;">
                <div class="row"><h3>Round 5 Game 2</h3></div>
                <div class="row"  style="margin-left: 10px;">
                    <div class="hero hero-vex image-responsive"> </div>
                    <div class="hero hero-shank image-responsive"> </div>
                    <div class="hero hero-vermillion image-responsive"> </div>
                </div>            
            </div>
            <div style="display: inline-block; min-width: 220px;">
                <div class="row"><h3>Round 5 Game 3</h3></div>
                <div class="row"  style="margin-left: 10px;">
                    <div class="hero hero-fetter image-responsive"> </div>
                    <div class="hero hero-bo image-responsive"> </div>
                    <div class="hero hero-claudessa image-responsive"> </div>
                </div>            
            </div>
        </div>
        <div>
            <div style="display: inline-block; min-width: 220px;">
                <div class="row" style="margin-left: 2px"><h3>Semi Game 1</h3></div>
                <div class="row" style="margin-left: 10px;">
                    <div class="hero hero-carter image-responsive"> </div>
                    <div class="hero hero-bastion image-responsive"> </div>
                    <div class="hero hero-malady image-responsive"> </div>
                </div>            
            </div>
            <div style="display: inline-block; min-width: 220px;">
                <div class="row" style="margin-left: 2px"><h3>Semi Game 2</h3></div>
                <div class="row"  style="margin-left: 10px;">
                    <div class="hero hero-ray image-responsive"> </div>
                    <div class="hero hero-rook image-responsive"> </div>
                    <div class="hero hero-fetter image-responsive"> </div>
                </div>            
            </div>
            <div style="display: inline-block; min-width: 220px;">
                <div class="row" style="margin-left: 2px"><h3>Semi Game 3</h3></div>
                <div class="row"  style="margin-left: 10px;">
                    <div class="hero hero-bo image-responsive"> </div>
                    <div class="hero hero-vermillion image-responsive"> </div>
                    <div class="hero hero-caprice image-responsive"> </div>
                </div>            
            </div>
        </div>
        <div>
            <div style="display: inline-block; min-width: 220px;">
                <div class="row" style="margin-left: 0px"><h3>Finals Game 1</h3></div>
                <div class="row" style="margin-left: 10px;">
                    <div class="hero hero-moxie image-responsive"> </div>
                    <div class="hero hero-ray image-responsive"> </div>
                    <div class="hero hero-rook image-responsive"> </div>
                </div>            
            </div>
            <div style="display: inline-block; min-width: 220px;">
                <div class="row" style="margin-left: 0px"><h3>Finals Game 2</h3></div>
                <div class="row"  style="margin-left: 10px;">
                    <div class="hero hero-rook image-responsive"> </div>
                    <div class="hero hero-malady image-responsive"> </div>
                    <div class="hero hero-minerva image-responsive"> </div>
                </div>            
            </div>
            <div style="display: inline-block; min-width: 220px;">
                <div class="row" style="margin-left: 0px"><h3>Finals Game 3</h3></div>
                <div class="row"  style="margin-left: 10px;">
                    <div class="hero hero-carter image-responsive"> </div>
                    <div class="hero hero-minerva image-responsive"> </div>
                    <div class="hero hero-moxie image-responsive"> </div>
                </div>            
            </div>
        </div>
        </div>
    </div>
{% endblock %}