{% extends _layout %}

{% block content %}

 <div class="jumbotron ">
     <h2> Do you think you have what it takes to claim the title as the best bottom player in Strife?</h2> 
     <h3>Test your mettle of war in this SPL hosted 1v1 bottom lane tournament!</h3>
     
     <h2>Rules</h2>
     <ul>
         <li>Custom 1v1 matches with no bots. Players must play in the bottom lane and not jungle, or farm other lanes.</li>
         <li>Matches are to be played on USE servers unless the players are of the same region (EU/SEA), in which a server of that region is used.</li>
         <li>First to kill the enemy hero, or tier one bottom tower wins and both players should DC.</li>
         <li>Wins must be reported to the SPL tournament director after the game.</li>
         <li>Game disputes will be handled via replay inspection.</li>     
         <li>STRIFEProLeague chat channel will be used for all tournament announcements, and players should idle for information.</li>
         <li>Each round of the tournament will be a bo1 match unless it is down to the top 8, at which point each round will be a bo3.</li>
         <li>Players must pick the same hero, which will be set by the tournament for each round ahead of time. Hero picks will be announced once brackets
         are setup and closed. If it's a bo3 match, each game will be a different hero.</li>
         <li>Players have 5 minutes to join the game lobby once created, or forfiet the match.</li>
         <li>Pauses should be given an approriate amount of time.</li>
         <li>If the other player DCs, you must pause the game for up to 10 minutes. If more then 10 minutes pass, the DC player forfeits.</li>
     </ul>
     <h2>Prize Pool</h2>
     <ul>
         <li>1st Place: $120 US</li>
         <li>2nd Place: $60 US</li>
         <li>3rd Place: $20 US</li>
     </ul>
     
     <div class="text-center"><a href="">Sign up Here</a></div>
 </div>
{% endblock %}