{% extends _layout %}

{% block content %}
<script src="{{'js/jquery.countdown.js'|assets_url()}}"></script>
<div id="streamPlayer" class="row hidden-sm col-md-12">
</div>
<div id="flap" name="flap">
<div class="row">
    <div class="col-md-12">
        <div>
        <h3><strong>Congratulations to Reason Gaming, Winners of the Beta Series One round robin</strong> <span style="font-size: 14px;">[July 7th 2014]</span></h3>
        <hr>
        <p>The series round robin is wrapped up, and <a href='{{'team/portal/26'|site_url}}' target='_blank'>Reason Gaming</a> as come out the victors. Not only do they take top seed into 
            the tournament, but they also win our series one <a href='{{'main/prizepool/6'|site_url}}' target='_blank'>first place prize</a>! Once again, a big congratulations and we can not wait
             to see how all of these teams do in the Beta Series One tournament July 12th 2014.
        </p>
        </div>        
    </div>       
</div>

</div>
{% endblock %}
{% block js %}    
<script type="text/javascript">
skipPlayerLoad = false;
</script>     
{% endblock %}