{% extends _layout %}

{% block content %}
<script src="{{'js/jquery.countdown.js'|assets_url()}}"></script>
<div id="streamPlayer" class="row hidden-sm col-md-12">
</div>
<div id="flap" name="flap">
<div class="row">
    <div class="col-md-12">
        <div>
        <h3><strong>Team Dynamix Disqualified from Beta Series One</strong> <span style="font-size: 14px;">[July 1st 2014]</span></h3>
        <hr>
         <p>Effectively immediately, Team Dynamix is officially disqualified from Strife Pro League’s beta series one. 
            A discussion between several teams was held, including Team Dynamix, where certain issues were settled. 
            So, with members of Team Dynamix continuing to push that issue the next day I am left with no alternative but 
            to disqualify them for un-sportsmanship behavior. SPL will not have teams or players harassed and cajoled by 
            other teams and players, and not over issues that these team captains have already agreed to drop.
        </p>
        </div>
        <div>
        <h3><strong>Upcoming Features and BS1 Prize Pool Increases</strong> <span style="font-size: 14px;">[June 3rd 2014]</span></h3>
        <hr>
         <p>S2 has turned the Eye of Sauron on the strife competitive scene. They've reached out to us and are going to provide the gem
         pack awards in our series one tournament, which more importantly means they've been increased! Go take a look at the new 
         <a href="{{'main/prizepool'|site_url()}}" target="_blank">prize pool</a> break down for the details. For myself, I just want to 
         give a big thank you to S2 for this great gesture. I hope each and every competitive SPL player does the same themselves.</p>
         <p>With that out of the way, I wanted to also mention a few SPL features coming down the pipeline very soon. First being stats.
         I know I've said that I'd have state pages up by now, and I apologize for not having them up yet. We'll have rolled up stat pages for
         sorting and grepping up VERY SOON! In the mean time, you can view individual game player stats by rolling over a hero icon from a match W/L match page.
         After we provide our internal stat pages, I will also be making available a RESTful API for others to query on SPL provided stats.</p>
         <p>The next highest feature on our list under development is player accounts. We'll soon start rolling this out to all current and active teams to get their players
         registered with their own SPL account. Once that is done, we'll open up registration for anyone to create a player account, and team if desired. Once player
         accounts are live it will open up a lot of community based options we have planned. Teams recruiting players on the site via a LFP section, Players putting themselves
         out their for teams via a LFT section. Players being able to leave a team on their own and get recruited by another one, etc. Another great feature
         will be for us to start up an InHouse ranked ladder for individuals (not teams). Players can go there to create or find games, get auto balanced with their ELO, etc.
         This can help teams find players they think are in the right skill level for them.</p>
         <p>After that we are working on the changes we need for the upcoming series two (which will be here fast!) We are going to be
         splitting the teams into two brackets. A pro bracket of the top 8 best teams in strife, and a challenger bracket where all other teams will compete.
         The challenger bracket will be open for teams to join mid series, and while not likely to win it will give them better positioning for the next series.
         The top two teams in the challenger bracket at the end of the series will be awarded the right to challenge the bottom two teams in the pro bracket. If they
         win they will take their spot in the pro series and enter the tournament. We also feel this split will provide teams with a more even match up, and if you
         don't make the pro bracket, you could just be one short series away from making it.</p>
         
         <p>We have a lot more in store then these three bullet points, but this is plenty for us to commit to in the short term, so I hope everyone sticks around
         to see what else we have cooking.</p>
        </div>
        <div>
        <h3><strong>Rockets Have Been Launched</strong> <span style="font-size: 14px;">[May 12th 2014]</span></h3>
        <hr>
         <p>Strife Beta Series One is now open for registration. If you have a team already in the system, just edit your
         team profile and sign up for the very first SPL run series. If you don't have a team signed up yet, you have six days to
         get one put together, so start calling your friends.</p>
         <p>This is going to be a bit of a mad first series, as there looks to be a lot of new teams in the scene, and we will surely
         run into a few stumbling blocks along the way. All I can ask is that you trust that we will resolve issues as quickly as possibly,
         and do our very best in making this a challenging and fun adventure for every team out there.</p>
         <p>Registration for the Strife Beta Series One will close on <strong>5/18/2014 00:00:00 GMT</strong></p>
         <br/>
         <div class='text-center'><div class="countdown-styled"></div></div>
         <p>Welcome to the series.</p>
        </div>
        <div>
         <h3><strong>Battle for Bot Tournament is Over</strong> <span style="font-size: 14px;">[May 11th 2014]</span></h3>
        <hr>
         <p>A huge thank you to all the players, fans, and viewers who took part in the Battle For Bot tournament this past weekend. We had
         a blast hosting and casting it, and I hope you had a blast playing or watching it.</p>
         
         <p> Congratulations to our champion <strong>Ryzen</strong>, he proved he was the best of the best that day for sure. Will he be able
             to hold onto that title though? Also, Congratulations to our runner up <strong>WolfJoe</strong> and an honorable mention for 
             third place goes to <strong>smd</strong>.</p>
         
         <p>If you'd like to catch the action again, or in case you missed it, all of our streamed matches are available on our twitch.tv page
             <a target="_blank" href='http://www.twitch.tv/strifeproleague'>StrifeProLeague</a>. You should follow us to catch all of our upcoming regular
         SPL competitive match casting.</p>
         <p>You can also catch the matches in order via our youtube page 
             <a target="_blank" href='https://www.youtube.com/watch?v=eoJ9ENnuRjE&list=PLgUbluFzUV4ysJTGMrq7tH0AhqV5vidhY'>playlist</a>
         </p>
        </div>
    </div>       
</div>

</div>
{% endblock %}
{% block js %}    
<script type="text/javascript">
skipPlayerLoad = false;
</script>     
{% endblock %}