{% extends _layout %}

{% block content %}
<script src="{{'js/jquery.countdown.js'|assets_url()}}"></script>
<div id="streamPlayer" class="row hidden-sm col-md-12">
</div>
<div id="flap" name="flap">
<div class="row">
    <div class="col-md-12">
        <div>
        <h3><strong>Beta Series 2 is Now Open!</strong> <span style="font-size: 14px;">[July 14th 2014]</span></h3>
        <hr>
        <p><span style='margin-left:1em;'>Beta</span> Series 2 is here, and we are now pleased to announce that challenger teams can start signing up! This series brings a
           new format to SPL; one that we believe will help promote newer teams getting into competitive play, and having more fun overall.
        </p>
        <p><span style='margin-left:1em;'>Beta</span>  Series 2 will kick off it's first week on <strong>July 21st 2014</strong>, 
            so for Challenger teams to have the best shot of winning they will need to sign into the series by <strong>July 20th, 2014</strong>. 
            For detailed information and instructions on what the new Challenger & Pro groups are all about, please see this srsbsns.tv 
            <a href='http://strife.srsbsns.tv/posts/spl-beta-series-2-format' target='_blank'>article.</a>

            <br/><br/><strong>Schedule:</strong>
        <ul>
            <li>Regular Series: July 21st - August 17th</li>
            <li>Tournament: August 23rd & 24th</li>
        </ul>
        </p>
        </div>        

        <div>
        <h3><strong>Congratulations to Reason Gaming, Winners of the Beta Series One Round Robin</strong> <span style="font-size: 14px;">[July 7th 2014]</span></h3>
        <hr>
        <p>The series round robin is wrapped up, and <a href='{{'team/portal/26'|site_url}}' target='_blank'>Reason Gaming</a> has come out the victors. Not only do they take top seed into 
            the tournament, but they also win our series one <a href='{{'main/prizepool/6'|site_url}}' target='_blank'>first place prize</a>! Once again, a big congratulations and we can not wait
             to see how all of these teams do in the Beta Series One tournament July 12th 2014.
        </p>
        </div>        
    </div>       
</div>

</div>
{% endblock %}
{% block js %}    
<script type="text/javascript">
skipPlayerLoad = false;
</script>     
{% endblock %}