{% extends _layout %}

{% block content %}

    <div class="jumbotron">
        <h1>Work in progress</h1>
        <p>
            Please bear with us while the site is built up. For now, if your team is interested in the league, you should register an account and get setup.
        </p>
    </div>

{% endblock %}