{% extends _layout %}

{% block content %}
   <div id="jp_container_1" class="jp-video" style="position: fixed; left: 0; top: 0;">
    <div class="jp-type-single">
      <div id="jquery_jplayer_1" class="jp-jplayer""></div>
    </div>
  </div>

<script type="text/javascript">
    
    $(document).ready(function(){
      $("#jquery_jplayer_1").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", {
           flv: "/assets/splash.flv"
          });        
        },
        size:{
            width: 0,
            height: 0
        },
        swfPath: "/assets",
         supplied: "flv",
        error: function (event) {
                console.log(event.jPlayer.error);
                console.log(event.jPlayer.error.type);
                },
        ended: function (event) {                    
                $("#jquery_jplayer_1").jPlayer("option", {"size" : {
                    width: "0px",
                    height: "0px"
                }});
                $(".flap").show();
                }                
      });      

      
      $('#playBtn').click(function(){

             $("#extruderAds").closeMbExtruder();
             
             $(".flap").hide();

            $("#jquery_jplayer_1").jPlayer("option", {"size" : {
                width: $(window).width() +"px",
                height: $(window).height() +"px"
            }});
            $("#jquery_jplayer_1").jPlayer("play");
       });        
    });
</script>

 <div class="jumbotron">
     <div class="text-center"><a href="{{'main/bfbtournament'|site_url}}">Battle For Bot Lane Tournament is now open!</a></div><br/>
 <p> I'm sure you're asking yourself what this is all about, and while we are not ready to completely roll 
         out the website and league, we wanted to at least tell you what our general plans are.         
     </p>
     
     <p> <strong>So, just what is the Strife Pro League?</strong> Well, It's our intention to run a professional strife 
         league in the form of seasons. Within these seasons teams will play against one another in the league with the goal
         of earning points. At the end of the season we'll invite the top teams (determined by total points) 
         to compete in a end of season tournament, seeded by that same point total</p>
     
     <p> <strong>Are these weekly tournaments?</strong> No, the league is not a weekly tournament, but instead a series of games
         you play against other teams to earn points. We do not have a strict play time policy. You'll in fact have several days to
         coordinate with your matched up teams to complete your games. We feel this will open up the ability for teams to complete
         games every week.
     </p>
     
     <p><strong>Are there any prizes in the league?</strong> While today we do not have any confirmed prizes, I can tell you that
         our intentions are to do so. We are working hard to secure a prize pool for season one, and when we have something that
         we are happy with, you all will be the first to know. The more active teams that we have participating equates to us
         having a higher chance at building a prize pool though.
     </p>
     
     <p><strong>What now?</strong> If you have a team that is interested in joining the league, setup an account and get your team
         registered. We are currently finishing up the complete league rules, and will be posting them soon. We are hard at work 
         on the website and back end systems so that we can get season one underway within the new couple of weeks.
     </p>
     
     <p>Welcome to the Strife Pro League</p>
 </div>
<div style="text-align: center">
    <a href="javascript:void(0)" id="playBtn">Play Trailer</a>
</div>
{% endblock %}