{% extends _layout %}

{% block content %}
   <div id="jp_container_1" class="jp-video" style="position: fixed; left: 0; top: 0;">
    <div class="jp-type-single">
      <div id="jquery_jplayer_1" class="jp-jplayer""></div>
    </div>
  </div>
<script src="{{'js/jquery.countdown.js'|assets_url()}}"></script>
<script type="text/javascript">
    
    $(document).ready(function(){
      $("#jquery_jplayer_1").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", {
           flv: "/assets/splash.flv"
          });        
        },
        size:{
            width: 0,
            height: 0
        },
        swfPath: "/assets",
         supplied: "flv",
        error: function (event) {
                console.log(event.jPlayer.error);
                console.log(event.jPlayer.error.type);
                },
        ended: function (event) {                    
                $("#jquery_jplayer_1").jPlayer("option", {"size" : {
                    width: "0px",
                    height: "0px"
                }});
                $("#flap").show();
                }                
      });      

      
      $('#playBtn').click(function(){
             
             $("#flap").hide();

            $("#jquery_jplayer_1").jPlayer("option", {"size" : {
                width: $(window).width() +"px",
                height: $(window).height() +"px"
            }});
            $("#jquery_jplayer_1").jPlayer("play");
       });        
    });
</script>

<div id="flap" name="flap">
<div class="row">
    <div class="col-md-12">
        <h3><strong>Rockets have been launched</strong> <span style="font-size: 14px;">[May 12th 2014]</span></h3>
        <hr>
         <p>Strife Beta Series One is now open for registration. If you have a team already in the system, just edit your
         team profile and sign up for the very first SPL run series. If you don't have a team signed up yet, you have six days to
         get one put together, so start calling your friends.</p>
         <p>This is going to be a bit of a mad first series, as there looks to be a lot of new teams in the scene, and we will surely
         run into a few stumbling blocks along the way. All I can ask is that you trust that we will resolve issues as quickly as possibly,
         and do our very best in making this a challenging and fun adventure for every team out there.</p>
         <p>Registration for the Strife Beta Series One will close on <strong>5/18/2014 00:00:00 GMT</strong></p>
         <br/>
         <div class='text-center'><div class="countdown-styled"></div></div>
         <p>Welcome to the series.</p>
    </div>       
</div>

</div>
<script type="text/javascript">
$(function() {
        $('.countdown-styled').countdown({
        date: "May 18, 2014 00:00:00 GMT",
        render: function(data) {
          var el = $(this.el);
          el.empty()
            .append("<div>" + this.leadingZeros(data.days, 2) + " <span>days</span></div>")
            .append("<div>" + this.leadingZeros(data.hours, 2) + " <span>hrs</span></div>")
            .append("<div>" + this.leadingZeros(data.min, 2) + " <span>min</span></div>")
            .append("<div>" + this.leadingZeros(data.sec, 2) + " <span>sec</span></div>");
        }
    });
        
});
</script>
   
    
{% endblock %}