{% extends _layout %}
{% block content %}
    
<div class="mySideBar">
    <div id="sidebar" class="mySideBar sidebar hidden-print affix">
        <ul class="mySideBar nav sidenav">
            <li class="active">
                <a href="#overview">Overview</a>
            </li>
            <li>
                <a href="#leaguerules">League Rules</a>
                <ul id="theme-nav" class="nav show">
                    <li><a href="#members">Members</a></li>                    
                    <li><a href="#team">Team</a></li>                    
                    <li><a href="#schedule">Schedule</a></li>                    
                </ul>
            </li>
            <li>
                <a href="#matchrules">Match Rules</a>
                <ul id="theme-nav" class="nav show">
                    <li><a href="#schedule">Scheduling</a></li>
                    <li><a href="#pregame">Pre & In Game</a></li>
                    <li><a href="#postgame">Post Game</a></li>
                </ul>
            </li>
            <li>
                <a href="#points">Points</a>
                <ul id="theme-nav" class="nav show">
                    <li><a href="#matchpoints">Match Points</a></li>
                    <li><a href="#seasonpoints">Season Points</a></li>
                </ul>
            </li>
        </ul>
    </div>   
</div>
<div class="col-md-9 col-md-offset-2">
    <div>
        <h1 id="overview">Overview</h1>
        Before teams play their first matches, all players should read and completely understand the rules.
        We'll do our best to keep this section updated at all times, but in certain circumstances this may not be possible. 
        In the case of a discrepancy, decisions made by SPL Admins will take precedence.
        <br/><br/>
        StrifeProLeague reserves the right to make changes to any/all rules as deemed appropriate at any time in an effort to 
        maintain the spirit of fair play.
    </div>
    <div>
        <div class="page-header">
            <h1 id="leaguerules">League Rules</h1>
        </div>
        <h2 id="members">Members</h2><br/>
        <div>
            <h4>Sportsmanship</h4>
            All members are required to uphold and observe a universal level of sportsmanship. Any unsportsmanlike 
            action which can include, but is not limited to racism, profanity, rude/vulgar acts, abusive remarks, and 
            disrespect of an official are not tolerated. Users who engage in unsportsmanlike conduct are subject to 
            suspension, match forfeits, or any other punishment that SPL deems necessary.           
        </div>
        <h2 id="team">Team</h2><br/>
        <div>            
            <h4>Team Name Changes</h4>
            Team name changes are allowed at any time, and must be requested via a support ticket.
        </div>
        <div>            
            <h4>Rosters</h4>
            Team rosters must consist of five full team members, and up to two substitute members. Substitues may not
            be an active team member on another team in the current series.
        </div>
        <h2 id="schedule">Schedule</h2><br/>
        <div>
            <h4>Round Robin Format</h4>
            A season will be broken up into a round robin format with every team playing every other team at least once in the season.
            The system will generate the round robin schedule as the season progresses, with one series per team per week.
        </div>
        <div>
            <h4>Weekly Series</h4>
            A weekly series is two games against the same team. Both games do not need to be completed back to back, as long as both are finished
            before the end of the week deadline.
        </div>
        <div>            
            <h4>Home vs Away</h4>
            The home team will be randomly determined for the first match of the week. The second match will have the home and away teams swapped.
        </div>
        <div>            
            <h4>Bye Week</h4>
            In the event that there is uneven number of teams registered for the season, every team will have at least one bye week for the season.
            During your bye week you will not be scheduled to play any matches.
        </div>
    </div>    
    <div>
        <div class="page-header">
            <h1 id="matchrules">Match Rules</h1>
        </div>
        <h2 id="schedule">Scheduling</h2><br/>
        <div>
            <h4>Default Match Times</h4>
            By default, all matches will be scheduled with a match start time of Saturday 9PM GMT. This can be changed via the match time offer and counter
            system.
        </div>
        <div>
            <h4>Initiating a Match Time Offer</h4>
            Once the week starts either team can initiate a match time offer. When initiating an offer, the captain proposes a match day 
            and time from within the match page.
        </div>
        <div>
            <h4>Countering a Match Time Offer</h4>            
            The opposing team's captain has 24 hours to accept the offer or reject it. A rejected offer will allow either captain
            to propose a new match time, repeating this process. An accepted offer will change the match start date to the new proposed time.
            If the opposing team does not accept or reject an offer within 24 hours, they will automatically accept the offer.
        </div>
        <div>
            <h4>Match Offers Less Then 24 Hours In Advance</h4>
            If a team initiates a match offer that is less then 24 hours in advance, and the opposing team does not respond, then
            it will default to a rejected offer.
        </div>
        <div>
            <h4>Match Start Date</h4>
            All matches must begin by the match start date. If one team fails to show up in the lobby before the lobby time expires, that team will
            recieve a no show for that match. If neither team shows up for the match, both teams will recieve a no show.
        </div>
        <div>
            <h4>Early Matches</h4>
            Matchs can be played and completed before the scheduled match start date, as long as both teams agree. The scheduling system is here just
            to aid teams in communicating an agreeable match day, that communication can be done on your own. Results just need to be uploaded before the deadline.
        </div>
        <div>
            <h4>Scheduling Exceptions</h4>
            If a match has been flagged as a no show, but both teams were willing and able to complete their match before
            the end of the week deadline, you must contact an admin or put in a support ticket so that the match can be 
            corrected.
        </div>
        <div>
            <h4>Forfeits</h4>
            A team can forfeit a match up to the lobby expire time. A forfeit will be counted as a loss, but that team will still recieve points for
            showing up.
        </div>          
    </div>
    <div>
        <h2 id="pregame">Pre & In Game</h2>
        <div>
            <h4>Server Selection</h4>
            The following server must be chosen if the team matchup matches any of the below, otherwise the server select advantage rule becomes activated:
            <ul>
                <li>USW vs EU = USE</li>
                <li>US vs US = Any US based server, defaulting to USE if both teams can not agree.</li>
                <li>US vs AUS = USW</li>
                <li>USE vs SEA = USW</li>
                <li>EU vs SEA = EU</li>
            </ul>            
        </div>
        <div>
            <h4>Home Team Advantage</h4>
            The home team for a specific match has advantage, and must choose either "Server Select" or  "Side Select" for the match. This advantage must
            be chosen before a match can enter into Pre-Game. If the home team does not choose, they will be defaulted to "Side Select". If both advantages
            are in play, the away team will be given the advantage not chosen by the home team.
            <ul>
                <li>Server Select: The team selects the server from the two closest servers between the two teams (USE vs EU would allow you either USE or EU).</li>
                <li>Side Select: This advantage means you choose either valor or glory, keeping in mind who gets first and last picks based on side.</li>
            </ul>
        </div>       
        <div>
            <h4>Match Creation</h4>
            One of the teams must create the custom game no later then five minutes before
            the scheduled match time. The match must be named with the format of
            Home Team vs Away Team. Matches should contain at least three spectator spots.
        </div>
        <div>
            <h4>Ringers</h4>
            A ringer is a player on a team that is not on their active roster, or substitute list. Both teams must agree to
            any ringers playing in a match. If there is not an agreement, that ringer may not play.
        </div>
        <div>
            <h4>Spectators</h4>
            Spectators are only allowed within a match if both teams agree on it, with the following exceptions. SPL Admins are always
            allowed to join as a spectator, as well as approved SPL casters who are there for the sole purpose of casting the match.
        </div>
        <div>
            <h4>Casting</h4>
            All live SPL matches being casted must be done so with a minimum of a two minute delay. If a match is being casted live, both teams must be
            made aware, and have the option to decline that match from being streamed. Exception: SPL reserves the right to cast all matches either live
            or via replay.
        </div>
        <div>
            <h4>Bans & Drafting</h4>
            Teams are given one ban each, with GLORY getting the first ban and VALOR banning directly after. Banned heroes may not
            be selected by either team. Once bans are completed drafting will follow the format of 1-2-2-2-2-1 with VALOR picking first,
            and GLORY getting the last pick. Both teams should take a screen shot of the ban & draft picks, otherwise admins will not be
            able to resolve any disputes if they arise.
        </div>
        
        <div>
            <h4>Starting</h4>
            A match must start within ten minutes of the lobby being created, unless both teams agree to wait longer. A match may not start
            early unless all ten players are present, and both captains agree upon it. If one team is not ready to start within the ten minute window, 
            they will forfeit the match.
        </div>
        <div>
            <h4>Remakes</h4>
            Each team is allowed one remake per match, within three minutes of the game starting. Pause the game and communicate the remake with
            the other team. If both teams agree, you can remake past the one remake per team.
        </div>
        <div>
            <h4>Pauses</h4>            
            Teams maybe pause for an acceptable duration, and matchs may not resume until both teams agree. If a player disconnects from a game it must be
            paused immeditaly. A player has 10 minutes to reconnect to the game, after which time the other team is free to unpause and continue the game. 
            If a player is dropped from the game, both teams should communicate and resume the game.            
        </div>
    </div>
    <div>
        <h2 id="postgame">Post Game</h2>
        <div>
            <h4>Reporting</h4>
            Both teams are required to a take screen shot of the final scoreboard in case there are any disputes. The winning team of the match must
            upload the replay file to the SPL website before the weekly match deadline, and the system will handle the rest. In the event that a replay for the
            match can not be uploaded, the winning team must report the results to and admin so that it can be overridden. Failure to report the match will
            result in both teams being marked as a no show, and will require an SPL admin to resolve.
        </div>
    </div>
    <div>
        <div class="page-header">
            <h1 id="points">Points</h1>
        </div>
        <h2 id="matchpoints">Match Points</h2><br/>
        <div>
            <h4>Showing up</h4>
            Teams who show up and complete a match will be awarded 10 points
        </div>
        <div>
            <h4>Winning a match</h4>
            Teams who win a match will be awarded 25 points
        </div>
        <div>
            <h4>Losing a match</h4>
            Teams who lose a match will be awarded 10 points
        </div>
        <div>
            <h4>Forfeit</h4>
            Teams who forfeit a match before the scheduled match time will be awarded as if showing up and losing.
            The winning team will be awarded as if showing up and winning.
        </div>
        <div>
            <h4>No Show</h4>
            Teams who do not show up for their match will be awarded 0 point. If one team shows up they will be awarded
            for showing up and winning.
        </div>
        <h2 id="seasonpoints">Season Points</h2><br/>
        <div>
            <h4>Totals</h4>
            Points earned from all matches will be totaled up and accumulate to compute your season total.
        </div>              
    </div>
</div>
{% endblock %}